@tailwind base;
@tailwind components;
@tailwind utilities;

.video-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  .video-card {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  
  .thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .video-player {
    margin: 20px;
    text-align: center;
  }
  
  video {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  /* Back Button */
.back-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #d32f2f;
  }
  
  .spinner {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #f4978e;
    border-radius: 50%;
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .hidden {
    display: none;
  }
  .bg-softRed {
    background-color: #f08080;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .items-center {
    align-items: center;
  }
  
  .ml-2 {
    margin-left: 8px;
  }